# Archivo "homicidios"

## Primera Parte: Extracción de datos e importación de librerías y módulos

In [1]:
# Importar librerías y módulos necesarios
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [2]:
# Ruta al archivo Excel
archivo_excel = '../DataSets/homicidios.xlsx'

# Leer la hoja "HECHOS" del archivo Excel
df_hechos = pd.read_excel(archivo_excel, sheet_name='HECHOS', engine='openpyxl')

# Leer la hoja "VICTIMAS" del archivo Excel
df_victimas = pd.read_excel(archivo_excel, sheet_name='VICTIMAS', engine='openpyxl')

## Segunda Parte: Inspección Inicial de Datos

In [3]:
df_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [4]:
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [5]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [6]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

## Tercera Parte: Fusión de DataFrames

In [7]:
# Realizar un merge (fusión) entre df_hechos y df_victimas
df_merged = pd.merge(df_hechos, df_victimas, left_on='ID', right_on='ID_hecho', how='inner')

# Mostrar las primeras filas del DataFrame resultante para verificar
print(df_merged.head())

# Mostrar información del DataFrame resultante para revisar tipos de datos y no nulos
print(df_merged.info())

          ID  N_VICTIMAS    FECHA_x  AAAA_x  MM_x  DD_x      HORA HH  \
0  2016-0001           1 2016-01-01    2016     1     1  04:00:00  4
1  2016-0002           1 2016-01-02    2016     1     2  01:15:00  1
2  2016-0003           1 2016-01-03    2016     1     3  07:00:00  7
3  2016-0004           1 2016-01-10    2016     1    10  00:00:00  0
4  2016-0005           1 2016-01-21    2016     1    21  05:20:00  5

                             LUGAR_DEL_HECHO TIPO_DE_CALLE  ...   ID_hecho  \
0  AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA  ...  2016-0001
1          AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ  ...  2016-0002
2                         AV ENTRE RIOS 2034       AVENIDA  ...  2016-0003
3      AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA  ...  2016-0004
4  AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA  ...  2016-0005

     FECHA_y AAAA_y MM_y  DD_y        ROL VICTIMA_y       SEXO EDAD  \
0 2016-01-01   2016    1     1  CONDUCTOR      MOTO  MASCULINO   19
1 2016-01-02   2016    1     2  CONDUCTOR      AUTO  MASCULINO   70
2 2016-01-03   2016    1     3  CONDUCTOR      MOTO  MASCULINO   30
3 2016-01-10   2016    1    10  CONDUCTOR      MOTO  MASCULINO   18
4 2016-01-21   2016    1    21  CONDUCTOR      MOTO  MASCULINO   29

   FECHA_FALLECIMIENTO
0  2016-01-01 00:00:00
1  2016-01-02 00:00:00
2  2016-01-03 00:00:00
3                   SD
4  2016-02-01 00:00:00

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   N_VICTIMAS             717 non-null    int64
 2   FECHA_x                717 non-null    datetime64[ns]
 3   AAAA_x                 717 non-null    int64
 4   MM_x                   717 non-null    int64
 5   DD_x                   717 non-null    int64
 6   HORA                   717 non-null    object
 7   HH                     717 non-null    object
 8   LUGAR_DEL_HECHO        717 non-null    object
 9   TIPO_DE_CALLE          717 non-null    object
 10  Calle                  716 non-null    object
 11  Altura                 133 non-null    float64
 12  Cruce                  540 non-null    object
 13  Dirección Normalizada  708 non-null    object
 14  COMUNA                 717 non-null    int64
 15  XY (CABA)              717 non-null    object
 16  pos x                  717 non-null    object
 17  pos y                  717 non-null    object
 18  PARTICIPANTES          717 non-null    object
 19  VICTIMA_x              717 non-null    object
 20  ACUSADO                717 non-null    object
 21  ID_hecho               717 non-null    object
 22  FECHA_y                717 non-null    datetime64[ns]
 23  AAAA_y                 717 non-null    int64
 24  MM_y                   717 non-null    int64
 25  DD_y                   717 non-null    int64
 26  ROL                    717 non-null    object
 27  VICTIMA_y              717 non-null    object
 28  SEXO                   717 non-null    object
 29  EDAD                   717 non-null    object
 30  FECHA_FALLECIMIENTO    717 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(8), object(20)
memory usage: 173.8+ KB
None

## Cuarta Parte: Limpieza de Datos

Este paso incluye la eliminación de columnas redundantes o no necesarias y el renombramiento de columnas para claridad y consistencia, preparando el DataFrame para análisis posteriores.

Al revisar la información precedente, se puede observar que al realizar el "merge", las columnas 'ID_hecho', 'FECHA_y', 'AAAA_y', 'MM_y', 'DD_y' y 'VICTIMA_y' se encuentran repetidas.

La información de la columna "FECHA_FALLECIMIENTO" ya se encuentra en las varibales "DD", "MM" y "AAAA".

La columna "Altura" cuenta con demasiados nulos, por lo que no se puuede rescatar su información imputando algún valor.

La información de la columna "PARTICIPANTES" ya se encuentra en las columnas "VICTIMA" y "ACUSADO".

El contenido de la columna "XY (CABA)" ya se encuentra en las variables "pos x" y "pos y".

Finalmente, los valores de las columnas 'Dirección Normalizada', 'Cruce' y 'Calle' se encuentran en la columna "LUGAR_DEL_HECHO".

In [8]:
# Eliminar columnas redundantes
df_merged_cleaned = df_merged.drop(columns=['ID_hecho', 'FECHA_y', 'AAAA_y', 'MM_y', 'DD_y', 'VICTIMA_y', 'FECHA_FALLECIMIENTO', 'Altura', 'PARTICIPANTES','XY (CABA)', 'Dirección Normalizada', 'Cruce', 'Calle', 'FECHA_x'])

# Renombrar las columnas restantes para evitar confusión, eliminando el sufijo _x en las columnas necesarias
df_merged_cleaned.rename(columns={
    'AAAA_x': 'AAAA',
    'MM_x': 'MM',
    'DD_x': 'DD',
    'VICTIMA_x': 'VICTIMA'
}, inplace=True)

In [9]:
df_merged_cleaned

,ID,N_VICTIMAS,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO,ROL,SEXO,EDAD
0,2016-0001,1,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,19
1,2016-0002,1,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70
2,2016-0003,1,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO,CONDUCTOR,MASCULINO,30
3,2016-0004,1,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,SD,CONDUCTOR,MASCULINO,18
4,2016-0005,1,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0093,1,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,18
713,2021-0094,1,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,43
714,2021-0095,1,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS,CONDUCTOR,MASCULINO,27
715,2021-0096,1,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS,CONDUCTOR,MASCULINO,60
716,2021-0097,1,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CICLISTA,MASCULINO,53

## Quinta Parte: Normalización y Conversión de Datos

In [10]:
# Reemplazamos los valores " '', 'None', 'SD' y None" con la expresión "nan"
df_merged_cleaned.replace(to_replace=['', 'None', 'SD', None], value=np.nan, inplace=True)

In [11]:
# Normalizar el texto a minúsculas para las columnas categóricas seleccionadas
columns_to_normalize = ['VICTIMA', 'ACUSADO', 'ROL', 'SEXO', 'TIPO_DE_CALLE']
df_merged_cleaned[columns_to_normalize] = df_merged_cleaned[columns_to_normalize].apply(lambda x: x.str.lower())

# Revisar los valores únicos después de la normalización para identificar inconsistencias
for column in columns_to_normalize:
    print(f"Valores únicos en '{column}':", df_merged_cleaned[column].unique())

Valores únicos en 'VICTIMA': ['moto' 'auto' 'peaton' nan 'cargas' 'bicicleta' 'pasajeros' 'movil'
 'objeto fijo' 'peaton_moto']
Valores únicos en 'ACUSADO': ['auto' 'pasajeros' nan 'objeto fijo' 'cargas' 'moto' 'multiple' 'otro'
 'bicicleta' 'tren']
Valores únicos en 'ROL': ['conductor' 'pasajero_acompañante' 'peaton' nan 'ciclista']
Valores únicos en 'SEXO': ['masculino' 'femenino' nan]
Valores únicos en 'TIPO_DE_CALLE': ['avenida' 'gral paz' 'calle' 'autopista']

In [12]:
# Convertir la columna "COMUNA" a tipo object
df_merged_cleaned['COMUNA'] = df_merged_cleaned['COMUNA'].astype('object')

In [13]:
# Convertir la columna "EDAD" de float a integer 
df_merged_cleaned['EDAD'] = pd.to_numeric(df_merged_cleaned['EDAD'], errors='coerce').astype('Int64')

In [14]:
# Eliminar la columna "HORA"
df_merged_cleaned.drop(columns=['HORA'], inplace=True)

# Renombrar "HH" a "HORA"
df_merged_cleaned.rename(columns={'HH': 'HORA'}, inplace=True)

# utilizaremos 'Int64' (tipo entero nullable de pandas) que soporta NaN.
df_merged_cleaned['HORA'] = pd.to_numeric(df_merged_cleaned['HORA'], errors='coerce').astype('Int64')

## Sexta Parte: Tratamiento de Duplicados

Podemos apreciar que no hay duplicados.

In [15]:
# Identificar duplicados
duplicados = df_merged_cleaned.duplicated()

# Mostrar los duplicados
print("Filas duplicadas:")
print(df_merged_cleaned[duplicados])

Filas duplicadas:
Empty DataFrame
Columns: [ID, N_VICTIMAS, AAAA, MM, DD, HORA, LUGAR_DEL_HECHO, TIPO_DE_CALLE, COMUNA, pos x, pos y, VICTIMA, ACUSADO, ROL, SEXO, EDAD]
Index: []

## Carga y revisión final del DF

In [16]:
df_merged_cleaned.head()

,ID,N_VICTIMAS,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO,ROL,SEXO,EDAD
0,2016-0001,1,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,avenida,8,-58.47533969,-34.68757022,moto,auto,conductor,masculino,19
1,2016-0002,1,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,gral paz,9,-58.50877521,-34.66977709,auto,pasajeros,conductor,masculino,70
2,2016-0003,1,2016,1,3,7,AV ENTRE RIOS 2034,avenida,1,-58.39040293,-34.63189362,moto,auto,conductor,masculino,30
3,2016-0004,1,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,avenida,8,-58.46503904,-34.68092974,moto,NaN,conductor,masculino,18
4,2016-0005,1,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,avenida,1,-58.38718297,-34.62246630,moto,pasajeros,conductor,masculino,29

In [17]:
df_merged_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               717 non-null    object
 1   N_VICTIMAS       717 non-null    int64
 2   AAAA             717 non-null    int64
 3   MM               717 non-null    int64
 4   DD               717 non-null    int64
 5   HORA             716 non-null    Int64
 6   LUGAR_DEL_HECHO  716 non-null    object
 7   TIPO_DE_CALLE    717 non-null    object
 8   COMUNA           717 non-null    object
 9   pos x            717 non-null    object
 10  pos y            717 non-null    object
 11  VICTIMA          708 non-null    object
 12  ACUSADO          694 non-null    object
 13  ROL              706 non-null    object
 14  SEXO             711 non-null    object
 15  EDAD             664 non-null    Int64
dtypes: Int64(2), int64(4), object(10)
memory usage: 91.2+ KB

In [18]:
#Rruta del archivo 
archivo_excel_salida = '../DataSets/df_merged_cleaned.xlsx'

# Guardar el DataFrame en un archivo Excel
df_merged_cleaned.to_excel(archivo_excel_salida, index=False, engine='openpyxl')